html {
    font-size: 20px;
    text-align: center;
}

#master-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 480px;
    margin: 0px auto;
}

#inner-container {
    display: flex;
    flex-flow: row wrap;
}

div {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#a {
    height: 75px;
    width: 480px;
    line-height: 75px;
    background-color: lightblue;
}

#b {
    height: 150px;
    width: 480px;
    line-height: 150px;
    background-color: lightcoral;
}

#c {
    height: 125px;
    width: 480px;
    line-height: 125px;
    background-color: lightgreen;
}

#d {

    height: 125px;
    width: 480px;
    line-height: 125px;
    background-color: lightgoldenrodyellow;
}


#e, #f, #g, #h {
    height: 250px;
    width: 240px; 
    line-height: 250px;
}

#e {
    background-color: lightgrey;
}

#f {
    background-color: lightseagreen;
}

#g {

    background-color: lightpink;
}

#h {
    background-color: lightskyblue
}

#i {
    width: 480px;
    height: 80px;
    background-color: lightslategray;
    line-height: 80px;
}

@media only screen and (min-width: 768px) { 
    #master-container{
        width: 960px;
        margin: 0px auto;
    }

    #inner-container {
        width: 760px;
    }

    div {
        color: white;
    }


    #a {
        width: 960px;
        height: 100px;
        background-color: darkblue;
        line-height: 100px;
    }
    #b {
        width: 200px;
        height: 600px;
        background-color: darkorchid;
        line-height: 600px;
    }

    #c {
        width: 380px;
        height: 200px;
        background-color: darkgoldenrod;
        line-height: 200px;
    }

    #d {
        width: 380px;
        height: 200px;
        background-color: darkgreen;
        line-height: 200px;
    }
    
    #e {
        width: 190px;
        height: 250px;
        background-color: darkorange;
        line-height: 250px;
    }

    #f {
        width: 190px;
        height: 250px;
        background-color: darkred;
        line-height: 250px;
    }

    #g {
        width: 190px;
        height: 250px;
        background-color: darkslateblue;
        line-height: 250px;
    }

    #h {
        width: 190px;
        height: 250px;
        background-color: darksalmon;
        line-height: 250px;
    }

    #i {
        width: 760px;
        height: 150px;
        background-color: darkslategrey;
        line-height: 760px;
    }
}